# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/

# PyTorch
*.pth
*.pt

# Data
data/*.json
data/*.pt
results/
logs/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
